$unimed-default-green-theme: #4DA198;
$unimed-primary-green-theme: #07796B;
$unimed-secondary-green-theme: #C7EEEA;
$unimed-tertiary-green-theme: #006A5B;
$unimed-fourth-green-theme: rgb(177, 211, 75);
$unimed-dark-green-theme: #959A9D;
$unimed-light-green-theme: #DEDEDE;
$unimed-danger-green-theme: #FA0A0A;
$unimed-white-green-theme: #F9FAFC;
$unimed-black-green-theme: #000000;
$unimed-cold-white-green-theme: #F9FAFC;
$unimed-background-green-theme: #ffffff;
