@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.top {
  width: 100%;
  height: 10%;
  padding-left: 14%;
  padding-right: 14%;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;

  .topItens {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #dedede;

    .arrowSide {
      width: 5%;
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #056a5b;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;

        .arrowLeft {
          color: white;
        }
      }
    }

    .search {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .forSearch {
        width: 80%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #c5c5c5;
        padding-left: 2%;
        justify-content: left;

        .search {
          display: flex;
          font-size: 1.6rem;
          text-align: left;
          height: 100%;
          width: 13%;
          flex-direction: row;
          justify-content: left;
          color: #797979;

          &:hover {
            cursor: pointer;
          }
        }

        input {
          width: 80%;
          height: 40%;
          border: none;
          text-decoration: none;
          background-color: #f9fafc;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 20%;
      height: 100%;

      span {
        font-size: 1rem;
        color: #07796b;
        font-weight: bold;
      }
    }

    .order {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      span {
        color: #585858;
      }

      .text {
        font-size: 1rem;
        color: #585858;
        font-weight: bold;
        margin-right: 3%;
      }

      .radioSelect {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        input[type='radio'] {
          accent-color: #1b9a9a;
          border-radius: 50%;
          margin-right: 0.3rem;
          margin-left: 0.3rem;
          width: 1.3rem;
          height: 1.3rem;

          input[type='radio']:checked {
            accent-color: #1b9a9a;
          }
        }
      }
    }

    .onDuty {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      .text {
        margin-right: 5%;
      }

      .space {
        font-weight: lighter;
      }

      .available {
        font-size: 1.9rem;
        margin-bottom: 4%;
      }

      span {
        font-size: 1rem;
        font-weight: bold;
        color: #07796b;
      }
    }
  }
}

.body {
  width: 100%;
  height: 80%;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 6%;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;

  .centralCard {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .cardPerson {
      height: 33.33%;
      width: 25%;
      padding-top: 3%;
      padding-bottom: 1%;
      padding-left: 2%;
      padding-right: 1%;

      .cardPersonInfo {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        box-shadow: 0px 3px 6px #00000029;
        transition: transform 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          transform: translateY(-10px);
        }

        .status {
          width: 100%;
          height: 30.33%;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding-left: 30%;

          span {
            color: white;
          }
        }

        .lineDate {
          width: 100%;
          height: 33.33%;
          display: flex;
          position: relative;

          .photo {
            width: 30%;
            height: 100%;
            position: relative;

            .circle {
              border-radius: 50%;
              background-color: #21ad9d;
              height: 9.5vh;
              position: absolute;
              width: 9.5vh;
              top: -17%;
              left: 56%;
              transform: translate(-50%, -50%);
              border: 2px solid #07796b;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }
          }

          .date {
            width: 70%;
            height: 100%;
            padding: 3.5%;

            .dateHour {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              background-color: #c7eeea;
              width: 100%;
              height: 100%;
              border-radius: 6px;
              padding-left: 6%;
              padding-right: 6%;

              span {
                color: #5a5a5a;
              }
            }
          }
        }

        .name {
          width: 100%;
          height: 33.33%;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          justify-content: center;
          text-align: center;
          align-items: center;
          display: flex;

          span {
            font-size: 1rem;
            color: #07796b;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 2%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .return {
      border: 1px solid #056a5b;
      border-radius: 6px;
      color: #056a5b;
      width: 8rem;
      height: 2rem;
      background-color: #f9fafc;
      margin-right: 2rem;
      transition: 150ms linear;

      &:hover {
        color: white;
        background-color: #056a5b;
        transition: 150ms linear;
      }
    }

    .continue {
      background-color: #056a5b;
      border-radius: 6px;
      width: 8rem;
      height: 2rem;
      color: white;
      border: none;
      transition: 150ms linear;

      &:hover {
        background-color: #0d8170;
        transition: 150ms linear;
      }
    }
  }
}
