@font-face {
    font-family: UnimedRegular;
    src: url(../assets/font/unimed_sans/UnimedSans2020-Rg.otf) format("opentype");
}

@font-face {
    font-family: UnimedBold;
    src: url(../assets/font/unimed_sans/UnimedSans2020-Bd.otf) format("opentype");
}