<div class="body">
  <div class="cardLogin">
    <div class="login">
      <span>Login</span>
    </div>
    <div class="inputData">
      <div class="line">
        <div class="icon">
          <div class="circle">
            <mat-icon class="account_circle">account_circle</mat-icon>
          </div>
        </div>
        <div class="input">
          <input type="text" placeholder="Usuário" [(ngModel)]="username" />
        </div>
      </div>
    </div>
    <div class="inputData">
      <div class="line">
        <div class="icon">
          <div class="circle">
            <mat-icon class="lock">lock</mat-icon>
          </div>
        </div>
        <div class="input">
          <input type="password" placeholder="Senha" [(ngModel)]="password" />
        </div>
      </div>
    </div>
    <div class="enter">
      <button (click)="loginSubmit()">Entrar</button>
    </div>
    <div class="forgot">
      <span>Esqueci minha senha</span>
    </div>
  </div>
</div>
